.main-image {
  width: 100%;
  position: relative;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
}

.main-text-area {
  padding: 0 60px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.card-title {
  letter-spacing: -0.5px;
  font-weight: 600;
}
.card-text {
  letter-spacing: -0.5px;
  line-height: 140%;
}

.box {
  padding: 0% 0.5em;
}

.container {
  padding-bottom: 40px;
}

.headline {
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.sub-headline {
  font-size: 18px;
}
